# User-specific files
*.suo
*.user
*.sln.docstates

**/build/*
**/Build/*
**/bin/*
**/Bin/*
**/obj/*
**/Obj/*

# Roslyn cache directories
*.ide/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

#NUNIT
*.VisualState.xml
TestResult.xml
