
@{
    ViewBag.Title = "NoUserData";
}
<div class="jumbotron">
    <h1>Sorry :(</h1>
    <p class="lead">We do not have you in our databases!</p>
    <p class="lead">Please download the Cowbell app on your Android Phone, and create an account to use the online dashboard</p>
    <p><a href="/home/index" class="btn btn-primary btn-large">Return to home &raquo;</a></p>
</div>
