@{
    ViewBag.Title = "User not registered.";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">You have not created a Facebook or Twitter account to Cowbell App. Log in using the Cowbell Mobile App first.</h3>
</hgroup>
